<div class="jumbotron">
  <h1>Persona Non Grata</h1>
  <h3>or how I learned to love the bomb</h3>
</div>
<h2>I wanted to like it... I really did</h2>
<p>Visually Persona 5 is beautiful! The vibrant menus are just dripping with style</p>
<p>Sadly, none of the characters has really drawn me in</p>

<h2>MEOW!</h2>
<img src="http://placehold.it/350x250" alt="Morgana">
<p>okay... except for maybe Morgana</p>
